

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ Rule Generator ️️❤️</title>
    <link href="/static/css/style.min.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="container">
            <header>
                <h1>🚀 STC Api Rule Generator 🚁</h1>
            </header>

            <!-- Proxy tools -->
        <form method="POST" name = "form1">
            <div class="card" align="center">
                <h2> 🤔 你用什么嘞？</h2>
                <div id="proxy_tool" onchange="selChange()">
                    <div class="autobar">

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="clash" >
                            <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                <label>Clash</label>
                            </div>
                        </div>  

                        <div class="pretty p-icon p-round p-plain p-smooth">
                                <input type="radio" name="tool" value="clashr"checked>
                                <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                    <label>ClashR</label>
                                </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="surge">
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>Surge</label>
                            </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="mellow" disabled>
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>Mellow</label>
                            </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="surfboard">
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>SurfBoard</label>
                            </div>
                        </div>                        

                        <div class="pretty p-icon p-round p-plain p-smooth">
                                <input type="radio" name="tool" value="qxnode">
                                <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                    <label>QuanX-Node</label>
                                </div>
                            </div>   

                    </div>                    
                </div>
            </div> 
                  
            <div class="card" align="center">
                <h2>🤡 在下方填入通用订阅地址，多个请换行输入</h2>
                <textarea align="center" name = "left" cols="70" rows="5" id="custom" placeholder="填写订阅地址" >{{ sub  }}</textarea>
                <input type="submit" value = "点击生成吧""/> <br/><br/> 
            </div>

            <div class="card" align="center">
                <h2>🤡 节点客制化，仅用于分组，小白忽略</h2>
                在下面填写节点组名称
                <br/>
                <textarea name = "name" cols="70" rows="5" id="custom" placeholder="例如：@分组1@分组2@分组3" >{{ sub  }}</textarea>
                在下面填写想要的节点
                <br/>
                <textarea name = "custom" cols="70" rows="5" id="custom" placeholder="例如：@香港|美国@美国|台湾@V    @后接正则表达式，&参数不再适用" >{{ sub  }}</textarea>
                在下面填写对应的模式
                <br/>
                <textarea name = "custommethod" cols="70" rows="5" id="custom" placeholder="例如： @sl@fb@lb@ut" >{{ sub  }}</textarea>
                <input type="submit" value = "点击生成节点分组吧""/> <br/><br/> 
            </div>
        </form>  
         

    <footer>
        <p> &copy;<a href="https://weibo.com/hackl0us">@Hackl0us</a>.<a href="https://weibo.com/haxck"> 美工</a>.<a href="https://github.com/tindy2013/subconverter"> API源码</a>.<a>@NicoNewBeee</a></p>
    </footer>
    </div>
</body>

</html>