

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ STC Rule Generator ️️❤️</title>
    <link href="/static/css/style.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    } 
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    </style>
<body>  
    <div class="container">
            <header>
                <h1>🚀 STC Api Rule Generator 🚁</h1>
            </header>

            <!-- Proxy tools -->
        <form method="POST" name = "form1">

            <div class="card" >
                        <h2>🤡 1.这里填写你的远程配置文件地址</h2> 
                        <label>请在</label>
                        <a href="https://raw.githubusercontent.com/lzdnico/SSRClash/master/config/test.ini">示例</a>
                        <label>基础上修改。关键字（;NicoNewBeee）不可删除</label>
                        <div class="card" align="center">
                        <textarea  name = "ini" cols="70" rows="5" placeholder="" >{{ custom  }}</textarea> 
                        </div>                                                                                
            </div>

            <div class="card" >
                <h2>🤡 2.填入订阅地址，多个换行输入</h2>
                <textarea  name = "left" cols="70" rows="5"  placeholder="填写订阅地址" >{{ sub  }}</textarea>                        
            </div>

            <div class="card" >
                <h2> 🔢 3.选择代理软件</h2>
                <div id="proxy_tool" onchange="selChange()">
                    <div class="autobar">

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="clash" >
                            <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                <label>Clash</label>
                            </div>
                        </div>  

                        <div class="pretty p-icon p-round p-plain p-smooth">
                                <input type="radio" name="tool" value="clashr"checked>
                                <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                    <label>ClashR</label>
                                </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="surge">
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>Surge</label>
                            </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="mellow" >
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>Mellow</label>
                            </div>
                        </div>

                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="surfboard">
                            <div class="state p-success-o">
                                    <i class="icon mdi mdi-transition-masked"></i>
                                <label>SurfBoard</label>
                            </div>
                        </div>                        

                        <div class="pretty p-icon p-round p-plain p-smooth">
                                <input type="radio" name="tool" value="qxnode">
                                <div class="state p-success-o">
                                        <i class="icon mdi mdi-transition-masked"></i>
                                    <label>QuanX-Node</label>
                                </div>
                        </div>   
                        <div class="pretty p-icon p-round p-plain p-smooth">
                            <input type="radio" name="tool" value="surnode" >
                            <div class="state p-success-o">
                                <i class="icon mdi mdi-transition-masked"></i>
                                <label>Surge-Node</label>
                            </div>
                        </div>  

                    </div>                    
                </div>
            </div> 

            <div class="card" >
                <h2> 👌 4.一切准备就绪了</h2>
            <div style="text-align:center; vertical-align:middel;">
                <input  type="submit" class="card" name= 'submit' value = "🔥 点击生成托管地址吧 🍩""/>
            </div>
            </div>
                           
        </form>          
        <footer>        
        <p> &copy;<a href="https://weibo.com/hackl0us">@Hackl0us</a>.<a href="https://weibo.com/haxck"> 美工</a>.<a href="https://github.com/tindy2013/subconverter"> API源码</a>.<a>@NicoNewBeee</a></p>
        </footer>
    </div>
</body>
</html>